SECRET_KEY=(секретный ключ для файла settings.py в директории config)

DEBUG=(True или False)

POSTGRES_DB=(Имя вашей базы данных)
POSTGRES_USER=(Имя пользователя вашей базы данных)
POSTGRES_PASSWORD=(Пароль от вашей базы данных)
DATABASE_HOST=(Хост для подключения к вашей базе данных)
DATABASE_PORT=(Порт для подключения к вашей базе данных)

STRIPE_SECRET_KEY=(Секретный ключ для STRIPE)

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=