[Unit]
Description=LMS Systems Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run \
  --name lms_systems \
  --network=mynetwork \
  -p 80:8000 \
  -e SECRET_KEY=${SECRET_KEY} \
  -e POSTGRES_DB=${POSTGRES_DB} \
  -e POSTGRES_USER=${POSTGRES_USER} \
  -e POSTGRES_PASSWORD=${POSTGRES_PASSWORD} \
  -e DATABASE_HOST=${DATABASE_HOST} \
  -e STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY} \
  -e CELERY_BROKER_URL=${CELERY_BROKER_URL} \
  -e CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND} \
  -e EMAIL_HOST=${EMAIL_HOST} \
  -e EMAIL_PORT=${EMAIL_PORT} \
  -e EMAIL_USE_TLS=${EMAIL_USE_TLS} \
  -e EMAIL_USE_SSL=${EMAIL_USE_SSL} \
  -e EMAIL_HOST_USER=${EMAIL_HOST_USER} \
  -e EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD} \
  ${{ secrets.DOCKER_HUB_USERNAME }}/lms_systems:latest
ExecStop=/usr/bin/docker stop lms_systems

[Install]
WantedBy=multi-user.target