[Unit]
Description=LMS Systems Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run \
  --name lms_systems \
  --network=mynetwork \
  -p 80:8000 \
  -e SECRET_KEY=${{ secrets.SECRET_KEY }} \
  -e POSTGRES_DB=${{ secrets.POSTGRES_DB }} \
  -e POSTGRES_USER=${{ secrets.POSTGRES_USER }} \
  -e POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} \
  -e DATABASE_HOST=${{ secrets.DATABASE_HOST }} \
  -e STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }} \
  -e CELERY_BROKER_URL=${{ secrets.CELERY_BROKER_URL }} \
  -e CELERY_RESULT_BACKEND=${{ secrets.CELERY_RESULT_BACKEND }} \
  -e EMAIL_HOST=${{ secrets.EMAIL_HOST }} \
  -e EMAIL_PORT=${{ secrets.EMAIL_PORT }} \
  -e EMAIL_USE_TLS=${{ secrets.EMAIL_USE_TLS }} \
  -e EMAIL_USE_SSL=${{ secrets.EMAIL_USE_SSL }} \
  -e EMAIL_HOST_USER=${{ secrets.EMAIL_HOST_USER }} \
  -e EMAIL_HOST_PASSWORD=${{ secrets.EMAIL_HOST_PASSWORD }} \
  ${{ secrets.DOCKER_HUB_USERNAME }}/lms_systems:latest
ExecStop=/usr/bin/docker stop lms_systems

[Install]
WantedBy=multi-user.target